@using ElectronNET.API
@{
    ViewData["Title"] = _languageService.GetTranslation("Order");
    Layout = null;
    var loggedInUser = _authService.GetLoggedInUser();
    PosCtrlModel TerminalDetail = ViewBag.TerminalDetail;
    bool isElectronApp = HybridSupport.IsElectronActive;
    var holdBillEnable = _commonService.GetParameterByType("HOLDBILL_AUTHORIZED");
    var holdCentralBill = _commonService.GetParameterByType("HOLDCENTRALBILL");
    ViewData["NumpadFor"] = "General";
    var transNo = ViewBag.TransactionNo;
}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <partial name="_HeadImport" />
    <style>
        #barcode-numpad .keypad-button-wide {
            height: 50px !important;
        }
    </style>
</head>
<!--end::Head-->
<body>
    <nav class="navbar navbar-dark bg-primary shadow">
        <div class="container-fluid">
            <div class="d-flex mr-auto">
                <div class="d-flex align-items-center fs-5">
                    <div class="px-3 text-light">
                        @_languageService.GetTranslation("User Name"): <span class="fw-bold">@loggedInUser.U_Name</span>
                    </div>
                    <div class="px-3 text-light">
                        @_languageService.GetTranslation("Bill Number"): <span class="fw-bold">@transNo</span>
                    </div>
                    <div class="px-3 text-light">
                        @_languageService.GetTranslation("Location"): <span class="fw-bold">@TerminalDetail.P_LocName</span>
                    </div>
                    <div class="px-3 w-350px text-light">
                        @_languageService.GetTranslation("Date & Time"): <span class="fw-bold" id="live-clock"></span>
                    </div>
                    <div class="px-3 text-light">
                        @_languageService.GetTranslation("Location"): <span class="fw-bold">@TerminalDetail.P_LocName</span>
                    </div>
                    <div class="px-3 text-light">
                        @_languageService.GetTranslation("Terminal #"): <span class="fw-bold">
                            @TerminalDetail.P_PosId
                        </span>
                        <i class="fa fa-circle text-danger animation-blink ms-2" id="connection-status" role="button" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-inverse" data-bs-placement="bottom" data-bs-original-title="Pos Server Connection Lost"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <partial name="_LanguageSelector" />
            </div>
        </div>
    </nav>
    <div class="container-fluid p-6">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body p-0">
                        <div class="input-group border-primary rounded border">
                            <span class="input-group-text bg-transparent border-right-0 pe-0">
                                <img src="~/assets/media/sales/barcode.svg" height="15px" />
                            </span>
                            <input type="text" class="form-control numpad-input border-left-0" id="Barcode-General" name="Barcode" placeholder="Barcode" autofocus />
                        </div>
                    </div>
                </div>
                <div class="card h-60vh mb-6">
                    <div class="card-body p-4">
                        <button type="button" class="btn btn-sm btn-light-secondary w-100 p-1" id="btn-table-scroll-up"><i class="fa-solid fa-angle-up"></i></button>
                        <div class="table-responsive mt-2 @(isElectronApp?"h-350px":"h-300px")" id="order-item-container">
                        </div>
                        <button type="button" class="btn btn-sm btn-light-secondary w-100 p-1" id="btn-table-scroll-down"><i class="fa-solid fa-angle-down"></i></button>
                    </div>
                </div>
                <div class="card" style="height:19vh">
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-60vh mb-6">
                    <div class="card-body p-0">
                        <ul class="nav nav-tabs nav-pills mb-5 fs-6 fw-semibold">
                            <li class="nav-item">
                                <a class="nav-link p-4 rounded-0 active" data-bs-toggle="tab" href="#kt_tab_pane_1">Cash</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4 rounded-0" data-bs-toggle="tab" href="#kt_tab_pane_2">Credit Card</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4 rounded-0" data-bs-toggle="tab" href="#kt_tab_pane_3">Voucher</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4 rounded-0" data-bs-toggle="tab" href="#kt_tab_pane_4">Touchpoint</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-4 rounded-0" data-bs-toggle="tab" href="#kt_tab_pane_5">Loyalty</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane px-5 fade show active" id="kt_tab_pane_1" role="tabpanel">
                                11111
                            </div>
                            <div class="tab-pane px-5 fade" id="kt_tab_pane_2" role="tabpanel">
                                222
                            </div>
                            <div class="tab-pane px-5 fade" id="kt_tab_pane_3" role="tabpanel">
                                333
                            </div>
                            <div class="tab-pane px-5 fade" id="kt_tab_pane_4" role="tabpanel">
                                444
                            </div>
                            <div class="tab-pane px-5 fade" id="kt_tab_pane_5" role="tabpanel">
                                555
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card h-40vh">
                    <div class="card-body p-0" id="barcode-numpad">
                        <partial name="_Numpad" view-data="ViewData" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card custom-h-100vh">
                    <div class="card-body p-5">
                        <div class="w-50">
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" onclick="showQtyModal('PriceCheck')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/price-check.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Price&nbsp;Check
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" onclick="showQtyModal('Void')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/void.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Void
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" onclick="showQtyModal('Qty')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/qty.svg" class="menu-svg-icon h-15px" />
                                </div>
                                QTY
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" onclick="showQtyModal('Refund')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/refund.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Refund
                            </button>
                            <button class="btn btn-primary fw-normal px-1 mb-2 w-100" style="font-size:xx-small">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/add-customer.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Add&nbsp;Customer
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/cash-drawer.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Cashdrawer
                            </button>

                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/recall.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Recall
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" @(holdBillEnable?.Val != "Y" ? "disabled" : "") onclick="holdBill('@holdCentralBill.Val')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/hold.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Hold
                            </button>
                            <button class="btn btn-primary fw-normal p-3 mb-2 w-100" style="font-size:xx-small" onclick="cancelBill('@transNo')">
                                <div class="mb-1">
                                    <img src="~/assets/media/sales/cancel.svg" class="menu-svg-icon h-15px" />
                                </div>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_PriceCheckModal" />
    <!--begin::Javascript-->
    <audio id="beep" src="~/assets/beep/beep.wav" preload="auto"></audio>
    <audio id="error-beep" src="~/assets/beep/error-beep.wav" preload="auto"></audio>
    <partial name="_ScriptImport" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/page/connection.js" asp-append-version="true"></script>
    <script src="~/js/page/sales.js" asp-append-version="true"></script>
    <!--end::Javascript-->
</body>
</html>
