@using System.Globalization
@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
    var currentCulture = CultureInfo.CurrentCulture.Name;
    var rtl = currentCulture == "ar" || currentCulture == "fa" ? "-rtl" : string.Empty;
    PosCtrlModel TerminalDetail = ViewBag.TerminalDetail;
}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <partial name="_HeadImport" />
    <link href="~/css/numpad-keyboard.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/login@(rtl).css" rel="stylesheet" asp-append-version="true" />    
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank bgi-size-cover bgi-attachment-fixed bgi-position-center bgi-no-repeat">
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root" id="kt_app_root">
        <nav class="navbar glass-effect-bg shadow">
            <div class="container-fluid">
                <div class="d-flex mr-auto">
                    <div class="d-flex align-items-center fs-5">
                        <div class="px-3 w-350px text-light">
                            @_languageService.GetTranslation("Date & Time"): <span class="fw-bold" id="live-clock"></span>
                        </div>
                        <div class="px-3 text-light fw-light">
                            @_languageService.GetTranslation("Location"): <span class="fw-bold">@TerminalDetail.P_LocName</span>
                        </div>
                        <div class="px-3 text-light">
                            @_languageService.GetTranslation("Terminal #"): <span class="fw-bold">@TerminalDetail.P_PosId</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <partial name="_LanguageSelector" />
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
            <!--begin::Card-->
            <div class="d-flex flex-column align-items-stretch flex-center rounded-4 w-md-450px p-5 login-card glass-effect-bg mx-auto">
                <!--begin::Wrapper-->
                <div class="d-flex flex-center flex-column flex-column-fluid px-lg-10 pb-15 pb-lg-20">
                    <!--begin::Form-->
                    <form class="form w-100" method="post" id="login_frm">
                        <input type="hidden" id="returnUrl" value="@Context.Request.Query["returnUrl"]" />
                        <!--begin::Heading-->
                        <div class="mb-5 text-center">
                            <img src="~/assets/media/logo/logo.png" style="height:100px" />
                            <!--begin::Title-->
                            <h1 class="text-white fw-bolder mb-3">Welcome Back</h1>
                            <!--end::Title-->
                            <!--begin::Subtitle-->
                            <div class="text-white fw-semibold fs-6">Login to POS</div>
                            <!--end::Subtitle=-->
                        </div>
                        <!--begin::Heading-->
                        <div class="mb-5">
                            <div class="input-group fv-row">
                                <span class="input-group-text border-right-0 bg-transparent"><i class="fa-solid fa-user fs-4"></i></span>
                                <input type="text" placeholder="User Id" asp-for="UserId" autocomplete="off" class="form-control form-control-lg numpad-input keyboard-input bg-transparent" />
                            </div>
                        </div>
                        <div class="mb-10">
                            <div class="input-group fv-row">
                                <span class="input-group-text border-right-0 bg-transparent" id="basic-addon1"><i class="fa-solid fa-lock fs-4"></i></span>
                                <input type="password" placeholder="Password" asp-for="Password" autocomplete="off" class="form-control form-control-lg numpad-input bg-transparent numpad-input keyboard-input" />
                                <span class="input-group-text btn-eye bg-transparent">
                                    <button type="button" class="btn p-0" onclick="showHidePasswordAsterisk('Password', this)">
                                        <i class="fa-regular fa-eye eye-icon fs-4"></i>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <!--begin::Submit button-->
                        <div class="d-flex justify-content-between">
                            <button type="submit" id="btn-login" class="btn btn-primary" style="width:85%">
                                <!--begin::Indicator label-->
                                <span class="indicator-label">Log In</span>
                                <!--end::Indicator label-->
                                <!--begin::Indicator progress-->
                                <span class="indicator-progress">
                                    Please wait...
                                    <span class="spinner-border spinner-border-sm ms-2 align-middle"></span>
                                </span>
                                <!--end::Indicator progress-->
                            </button>
                            <button type="button" class="btn btn-icon btn-primary btn-circle ml-2">
                                <img src="~/assets/media/login/fingerprint 1.png" height="25px" />
                            </button>
                        </div>
                        <!--end::Submit button-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Authentication - Sign-in-->
    </div>
    <!--end::Root-->
    <!--begin::Javascript-->
    <partial name="_ScriptImport" />
    <script src="~/js/numpad-keyboard.js" asp-append-version="true"></script>
    <script src="~/js/page/login.js" asp-append-version="true"></script>
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>